<!DOCTYPE html>
<html>
<head>
    <title>Car Management App</title>
</head>
<body>
    <h1>Car Management App</h1>

    <h2>Manufacturers</h2>
    <ul>
        {% for manufacturer in manufacturers %}
            <li>{{ manufacturer.name }}</li>
        {% endfor %}
    </ul>

    <h2>Car Models</h2>
    <ul>
        {% for car_model in car_models %}
            <li>{{ car_model.name }}</li>
        {% endfor %}
    </ul>

    <h2>Cars</h2>
    <ul>
        {% for car in cars %}
            <li>{{ car.color }} {{ car.model.name }}</li>
        {% endfor %}
    </ul>

    <h2>Add Data</h2>
    <ul>
        <li><a href="{{ url_for('add_manufacturer') }}">Add Manufacturer</a></li>
        <li><a href="{{ url_for('add_model') }}">Add Car Model</a></li>
        <li><a href="{{ url_for('add_car') }}">Add Car</a></li>
        <li><a href="{{ url_for('add_cars') }}">Add Cars from JSON</a></li>
    </ul>
</body>
</html>
