<!DOCTYPE html>
<html>
<head>
    <title>Car Management App</title>
</head>
<body>
    <h1>Car Management App</h1>
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.manufacturer.label }} {{ form.manufacturer() }}
        </div>
        <div>
            {{ form.car_model.label }} {{ form.car_model() }}
        </div>
        <button type="submit">Filter</button>
    </form>

    <h2>Cars</h2>
    <ul>
        {% for car in cars %}
            <li>Barva: {{ car.color }}
                 / Výkon (kW): {{ car.horsepower }}
                 / Spotřeba (l/100 km): {{ car.consumption }}
                 / Datum výroby: {{ car.manufacture_date.strftime('%d.%m.%Y') }}
                {% if car.is_drivable %}
                    / Pojízdné: ANO
                {% else %}
                    / Pojízdné: NE
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>Add Data</h2>
    <ul>
        <li><a href="{{ url_for('add_manufacturer') }}">Add Manufacturer</a></li>
        <li><a href="{{ url_for('add_model') }}">Add Car Model</a></li>
        <li><a href="{{ url_for('add_car') }}">Add Car</a></li>
    </ul>
</body>
</html>
